<% provide(:title, "A New Tool To Studying Anything") %>
<div class="layout-homepage">
	<div class="layout-introduction container-fluid">
		<div class="layout-introduction-content row">
			<div class="layout-introduction-left mt-5 ml-2 pt-5 col">
				<div class="slogan">Equip yourself for the future of work</div>
				<div class="description mt-5">A new tool to study and practice the technical knowledge.</div>
				<div class="mt-5"><a href="/courses"><button type="button" class="capitalize v-button v-button-primary v-button-large  " style="width: 200px;">Browse courses</button></a></div>
			</div>
			<div class="v-layout-introduction-right mt-5 pt-5 col"><img src="/assets/introduction-banner.svg" alt=""></div>
		</div>
	</div>
	<div class="layout-pupular-courses">
		<div class="layout-pupular-courses-content p-4">
			<div class="heading">Most popular courses</div>
			<div class="layout-pupular-courses__list-courses pt-4">
				<div class="card-deck">
				  <div class="card">
				    <img class="card-img-top" src="/assets/html-course.jpg" alt="Card image cap">
				    <div class="card-body">
				      <h5 class="card-title"><a href="#">HTML Course</a></h5>
				    </div>
				    <div class="card-footer">
				      <small class="text-muted">Last updated 3 mins ago</small>
				    </div>
				  </div>
				  <div class="card">
				    <img class="card-img-top" src="/assets/css-course.jpg" alt="Card image cap">
				    <div class="card-body">
				      <h5 class="card-title"><a href="#">CSS Course</a></h5>
				    </div>
				    <div class="card-footer">
				      <small class="text-muted">Last updated 3 mins ago</small>
				    </div>
				  </div>
				  <div class="card">
				    <img class="card-img-top" src="/assets/git-course.jpg" alt="Card image cap">
				    <div class="card-body">
				      <h5 class="card-title"><a href="#">Git Essentials</a></h5>
				    </div>
				    <div class="card-footer">
				      <small class="text-muted">Last updated 3 mins ago</small>
				    </div>
				  </div>
			</div>
		</div>
	</div>
</div>