<%= form_with(model: [:admin, @category]) do |form| %>
<div class="modal fade" id="newCategoryModel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="category_name">Category</label>
                    <%= form.text_field (:category_name), class: "form-control", id: "category_name", placeholder: "Category" %>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                <%= form.submit 'Add', class: "btn btn-primary btn-sm"%>
            </div>
        </div>
    </div>
</div>
<% end %>