<div class="row jumbotron">
	<div class="create-test container my-4">
		<div class="create-test__content-flex">
			<div class="d-flex test-view">
				<div class="test-view__left">
					<div class="flex">
						<div class="list-heading">
							Question List
						</div>
						<div class="d-flex items-center">
							<div class="d-flex flex-row justify-center text-center items-">
								countdown
							</div>
						</div>
					</div>
					<hr>
					<div class="d-flex flex-column">
					<div class="d-flex flex-column label-questions justify-center">
						<div class="d-flex">
							<div class="flex items-center">
								<div class="border-question">
								</div>
								<div class="text">
									Corrected Answer
								</div>
							</div>
							<div class="flex items-center">
								<div class="border-question">
								</div>
								<div class="text">
									Corrected Answer
								</div>
							</div>
						</div>
						<hr>
					</div>
					<div class="d-flex flex-wrap question-list">
						<div class="list-item">
							<a>
								<div class="question-item d-flex items-center justify-center">1</div>
							</a>
						</div>
						<div class="list-item">
							<a>
								<div class="question-item d-flex items-center justify-center">1</div>
							</a>
						</div>
						<div class="list-item">
							<a>
								<div class="question-item d-flex items-center justify-center">1</div>
							</a>
						</div>
						<div class="list-item">
							<a>
								<div class="question-item d-flex items-center justify-center">1</div>
							</a>
						</div>
						<div class="list-item">
							<a>
								<div class="question-item d-flex items-center justify-center">1</div>
							</a>
						</div>
					</div>
				</div>
				</div>
				<div class="test-view__right">
					<div class="test-view__exam-detail">
						<div class="d-flex justify-between item-center">
							<div class="question-heading">
								Question 1
							</div>
						</div>
						<div class="my-4">
							<div class="md-contents">
								<p>How does an higher z-index value affects an element</p>
							</div>
						</div>
						<hr>
					</div>
					<div class="mt-2">
						<div class="d-flex flex-column question-answers v-answers">
							<div class="title-note">
								This is your answer here:
							</div>
							<div class="radio-group">
								<div class="form-check">
							  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
							  <label class="form-check-label" for="exampleRadios1">
							    Default radio
							  </label>
							</div>
							<div class="form-check">
							  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
							  <label class="form-check-label" for="exampleRadios2">
							    Second default radio
							  </label>
							</div>
							</div>
						</div>
						<div class="d-flex">
							<button>Vip</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>