<% provide(:title, "Courses Page") %>
<section class="detail-banner">
	<div class="detail-banner__main detail-banner__breadcrumb">
		<ol class="breadcrumb bg-transparent text-white">
			<li class="breadcrumb-item"><a href="#">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">Courses</li>
		</ol>
	</div>
	<div class="course-main pt-2">
		<div class="course-main__content pt-0">
			<p class="course-main__content__name text-white">
				All Courses
			</p>
		</div>
	</div>
</section>
<section class="onetwo-layout">
	<div class="cross-bar">
		<div class="">
			<ul class="nav">
			  <li class="nav-item">
			    <a class="nav-link active" href="#">All Courses</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="#">My Courses</a>
			  </li>
			</ul>
		</div>
	</div>
</section>
<div class="mt-4 jumbotron">
	<div class="row">
		<div class="col">
			<!-- Show courses here -->
			<div class="container">
				<div class="certificates__item mt-3 row rounded">
					<img class="col-4 p-0 rounded" src="/assets/default.png">
					<div class="body col-8 pt-2">
						<div class="title">
							<p class="cursor-pointer pt-2">
								<a href="#">Information Technology Passport Examination (IP)</a>
							</p>
						</div>
						<div class="info mt-5">
							<div class="d-flex bd-highlight">
							  <div class="p-2 flex-fill bd-highlight">
							  	<a href="#" class="badge badge-primary">Beginning Level</a>
							  </div>
							  <div class="p-2 flex-fill bd-highlight">Students: 2</div>
							  <div class="p-2 flex-fill bd-highlight">Created at: 19/03/2021</div>
							  <div class="p-2 flex-fill bd-highlight">Views: 2</div>
							</div>
						</div>
					</div>
				</div>
				<div class="certificates__item mt-3 row rounded">
					<img class="col-4 p-0 rounded" src="/assets/default.png">
					<div class="body col-8 pt-2">
						<div class="title">
							<p class="cursor-pointer pt-2">
								<a href="#">Information Technology Passport Examination (IP)</a>
							</p>
						</div>
						<div class="info mt-5">
							<div class="d-flex bd-highlight">
							  <div class="p-2 flex-fill bd-highlight">
							  	<a href="#" class="badge badge-primary">Beginning Level</a>
							  </div>
							  <div class="p-2 flex-fill bd-highlight">Students: 2</div>
							  <div class="p-2 flex-fill bd-highlight">Created at: 19/03/2021</div>
							  <div class="p-2 flex-fill bd-highlight">Views: 2</div>
							</div>
						</div>
					</div>
				</div>
				<div class="certificates__item mt-3 row rounded">
					<img class="col-4 p-0 rounded" src="/assets/default.png">
					<div class="body col-8 pt-2">
						<div class="title">
							<p class="cursor-pointer pt-2">
								<a href="#">Information Technology Passport Examination (IP)</a>
							</p>
						</div>
						<div class="info mt-5">
							<div class="d-flex bd-highlight">
							  <div class="p-2 flex-fill bd-highlight">
							  	<a href="#" class="badge badge-primary">Beginning Level</a>
							  </div>
							  <div class="p-2 flex-fill bd-highlight">Students: 2</div>
							  <div class="p-2 flex-fill bd-highlight">Created at: 19/03/2021</div>
							  <div class="p-2 flex-fill bd-highlight">Views: 2</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>