.detail-banner{
	background: url('/assets/banner-course-detail.png');
	width: 100%;
    display: inline-block;
    background-size: cover !important;
    background-position: center !important;
    padding-bottom: 20px;
    color: rgba(27, 27, 27, 0.45);
    font-size: 16px;
}
.course-main__content__name {
	padding-left: 15px;
    font-family: 'Poppins ExtraBold';
    font-size: 48px;
    font-weight: 800;
    letter-spacing: -1.2px;
    line-height: 72px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}
.certificates__item {
    position: relative;
    border: 1px solid #DEE5EF;
    background: #FFFFFF;
    border-radius: 6px;
    width: 100%;
}
.breadcrumb-item a{
	color: #C4CFDD !important;
    font-size: 14px;	
}

.breadcrumb-item{
	color: #C4CFDD !important;
    font-size: 14px;	
}

.v-button-primary {
    background-color: #FAD20B;
}
.v-button-large {
    height: 48px;
    border-radius: 24px;
}
.v-button {
    color: #191D28;
    font-family: 'Poppins SemiBold';
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 21px;
    text-align: center;
}
.v-button {
    padding: 0.375em 2em;
}
.capitalize {
    text-transform: capitalize !important;
}

.course-main .course-detail {
    background: #FFFFFF;
    box-shadow: 0px 0px 13px 0px #00000021;
    border-radius: 6px;
}

.course-main .course-detail__enroll {
    border-bottom: 1px solid #EAF0F7;
}
.course-main .course-detail__info {
    border-bottom: 1px solid #EAF0F7;
}

.course-detail__thumbnail img{
    width: 100%;
}

.course-markdown__desc {
    color: #C4CFDD;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 0;
    margin-top: 5px;
    width: 100%;
    max-width: 100%;
    line-height: 1.5;
}

.md-contents {
    color: #fff !important;
    padding-left: 15px;
    width: 90%;
    font-family: 'Roboto Regular';
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
}

.course-markdown__desc .md-contents p {
    color: #fff !important;
    font-size: 16px !important;
}

.course-main__info{
    padding-left: 15px;
    color: #fff !important;
}
