.create-test .test-view__left {
    z-index: 2;
    border: 1px solid #EAF0F7;
    border-radius: 6px 0 0 6px;
    background-color: #FFFFFF;
    box-shadow: 0 5px 30px -10px rgb(0, 0, 0 / 20%);
}

.create-test .test-view__left .list-heading {
    color: #191D28;
    font-family: 'Poppins ExtraBold';
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 30px;
    padding: 24px 40px;
}

.create-test .test-view__left .question-list {
    padding: 0px 19px;
}

.create-test .test-view__left .question-list .list-item {
    -webkit-box-flex: 0;
    flex: 0 0 20%;
    padding: 15px;
}

.create-test .test-view__right {
    margin-left: -1px;
    padding: 50px 40px;
    z-index: 1;
    border: 1px solid #EAF0F7;
    border-radius: 0 6px 0 0;
    background-color: #FFFFFF;
    box-shadow: 0 5px 10px -10px rgb(0, 0, 0 / 20%);
}

.create-test .test-view__right {
    width: calc(100% - 412px);
}

.create-test .test-view__left {
    width: 412px !important;
}

.create-test .test-view__left .answer-bg {
    background-color: #FEF4C2 !important;
}

.create-test .test-view__left .highlight-question {
    border: 2px solid #67758D;
}

.create-test .test-view__left .not-answer-bg {
    background-color: #DEE5EF;
}

.create-test .test-view__left .question-item {
    height: 40px;
    width: 40px;
    border-radius: 6px;
    background-color: #F6F9FC;
}

.create-test .test-view__left .list-item a {
    text-decoration: none;
}

.create-test .test-view__left .label-question .border-available {
    background-color: #F6F9FC;
    border: 1px solid #DEE5EF;
}

.create-test .test-view__left .label-question .border-answered {
    background-color: #FEF4C2;
}

.create-test .test-view__left .label-question .border-not-view {
    background-color: #DEE5EF;
}


element.style {
}
.create-test .test-view__left .label-question .border-not-view {
    background-color: #DEE5EF;
}

.create-test .test-view__left .label-question .border-question {
    box-sizing: border-box;
    height: 16px;
    width: 16px;
    border-radius: 50%;
}

.create-test .test-view__left .label-question .text {
    color: #283040;
    font-family: 'Poppins Regular';
    font-size: 14px;
    letter-spacing: -0.35px;
    line-height: 21px;
}

.create-test .test-view__left .label-question .note {
    margin: 30px 0px 30px 0px;
    color: #67758D;
    font-family: 'Roboto Regular';
    font-size: 12px;
    letter-spacing: -0.3px;
    line-height: 14px;
}

.test-view__left .label-question {
    padding: 0px 40px;
}

.create-test .test-view__right .question-heading {
    color: #191D28;
    font-family: 'Poppins ExtraBold';
    font-size: 24px;
    font-weight: 800;
    letter-spacing: -0.6px;
    line-height: 35px;
}

.create-test .test-view__right .question-answers .title-note {
    color: #191D28;
    font-family: 'Poppins SemiBold';
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.45px;
    line-height: 27px;
}

.answer-checkboxes{
    background-color: #FFFFFF;
    border-color: #C4CFDD !important;
    border-width: 2px;
    width: 24px;
    height: 24px;
}

.md-contents {
    width: 100%;
    font-family: 'Roboto Regular';
    font-size: 14px;
    letter-spacing: 0;
    line-height: 24px;
    color: #67758D !important;
}

.create-test .test-view__left .label-question .border-incorrected {
    background-color: #FF9696;
}

.create-test .test-view__left .label-question .border-corrected {
    background-color: #00C48C;
}

.create-test .test-view__left .question-list .bg-item-corrected{
    background-color: #D5F2EA !important;
    color: #00C48C !important;
}

.create-test .test-view__left .question-list .bg-item-incorrected{
    background-color: #FF9696 !important;
    color: #FFFFFF !important;
}

.show-question-answers .form-check input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.show-question-answers .answer-checkboxes{
    
}

.show-question-answers .form-check label {
    position: relative;
    cursor: not-allowed;
}

.show-question-answers .form-check label:before {
content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #0079bf;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: not-allowed;
    margin-right: 5px;
}

.show-question-answers .form-check .bg-item-corrected label:before {
    background-color: #00C48C !important;
}

.show-question-answers .form-check .bg-item-incorrected label:before {
    background-color: #FF9696 !important;
}

//not work
.show-question-answers .form-check input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #0079bf;  
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.tabs li {
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

ul.tabs li.current .question-item {
    background: #ededed;
    color: #222;
    border: 2px solid #67758D;
}

.tab-content {
    display: none;
    /* background: #ededed; */
    padding: 15px;
}

.tab-content.current {
    display: inherit;
}