.create-test .test-view__left .label-question .border-incorrected {
    background-color: #FF9696;
}

.create-test .test-view__left .label-question .border-corrected {
    background-color: #00C48C;
}

.create-test .test-view__left .question-list .bg-item-corrected {
    background-color: #D5F2EA !important;
    color: #00C48C !important;
}

.create-test .test-view__left .question-list .bg-item-incorrected {
    background-color: #FF9696 !important;
    color: #FFFFFF !important;
}

.show-question-answers .form-check input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.show-question-answers .answer-checkboxes {}

.show-question-answers .form-check label {
    position: relative;
    cursor: not-allowed;
}

.show-question-answers .form-check label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #0079bf;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: not-allowed;
    margin-right: 5px;
}

.show-question-answers .form-check .bg-item-corrected label:before {
    background-color: #00C48C !important;
}

.show-question-answers .form-check .bg-item-incorrected label:before {
    background-color: #FF9696 !important;
}

.create-test ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.create-test ul.tabs li {
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

.create-test ul.tabs li.current .question-item {
    background: #ededed;
    color: #222;
    border: 2px solid #67758D;
}

.create-test .tab-content {
    display: none;
    /* background: #ededed; */
    padding: 15px;
}

.create-test .tab-content.current {
    display: inherit;
}