

<div class="row block-4">
	<div class="col-md-2">
		<input type="checkbox" class="ant-checkbox-input" value="Linux">
	</div>
	<div class="col-md-10 ant-checkbox-group-item">
		<span><%= @category.category_name %></span>
	</div>
</div>