<section class="category-section">
	<div class="container" style="background-color: #FFF">
		<div class="row">
			<div class="col-md-2" style=" min-height: 800px">
				<div class="row block-1">
					<input icon="search" placeholder="Enter keyword..." class="ant-input" type="text" value="">
				</div>
				<div class="row" style="padding-bottom: 20px">
					<span class="ant-tag m-1 ">Linux</span>
					<span class="ant-tag m-1 ">LPIC</span>
					<span class="ant-tag m-1 ">CCNP</span>
					<span class="ant-tag m-1 ">CCNA</span>
					<span class="ant-tag m-1 ">Ruby</span>
					<span class="ant-tag m-1 ">ISTQB</span>
					<span class="ant-tag m-1 ">AWS</span>
					<span class="ant-tag m-1 ">FE</span>
					<span class="ant-tag m-1 ">Laravel</span>
					<span class="ant-tag m-1 ">Kubernetes</span>
				</div>
				<hr>
				<div class="row block-3">
					<h4>Categorites</h4>
				</div>
				<hr>
				<%= render @categories %>
				
			</div>

			<div class="col-md-10" style="background-color: #e2e8f0; min-height: 500px">

				<div>
					<div class="certificates__item mt-3 row rounded">
						<img class="col-4 p-0 rounded" src="/assets/default.png">
						<div class="body col-8 pt-2">
							<div class="title">
								<p class="cursor-pointer pt-2">
									<a href="#">Ruby advance course</a>
								</p>
							</div>
							<div class="info mt-5">
								<div class="d-flex bd-highlight">
									<div class="p-2 flex-fill bd-highlight">
										<a href="#" class="badge badge-primary">Beginning Level</a>
									</div>
									<div class="p-2 flex-fill bd-highlight">Students: 2</div>
									<div class="p-2 flex-fill bd-highlight">Created at: 19/03/2021</div>
									<div class="p-2 flex-fill bd-highlight">Views: 2</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
