<% provide(:title, "Home") %>
<div class="pb-2 mb-3 border-bottom">
    <h1 class="h2">Home</h1>
</div>
<div class="d-flex flex-column justify-center mt-4">
    <div class="text-center">
        <p class="contribution-header__title uppercase">Be A top contributor</p>
    </div>
    <div class="flex justify-center">
        <p class="contribution-header__desc">You improve your contribution score every time your contributed question is approved or published. Keep contributing and be come the best contributor ever!</p>
    </div>
</div>