<footer class="p-4 border-top">
	<div class="container layout-footer m-5">
		<div class="row">
			<div class="col">
				<h4>Contact</h4>
				<div>
					<ul class="nav flex-column">
						<li class="nav-item">
							<a href="#">Facebook</a>
						</li>
						<li class="nav-item">
							<a href="#">Github</a>
						</li>
						<li class="nav-item">
							<a href="#">Carrers</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col">
				<h4>Content</h4>
				<div>
					<ul class="nav flex-column">
						<li class="nav-item">
							<a href="#">Home</a>
						</li>
						<li class="nav-item">
							<a href="#">Courses</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col">
				<h4>Services</h4>
				<div>
					<ul class="nav flex-column">
						<li class="nav-item">
							<a href="#">Viblo</a>
						</li>
						<li class="nav-item">
							<a href="#">Viblo Code</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col">
				<h4>Terms & Condititons</h4>
				<div>
					<ul class="nav flex-column">
						<li class="nav-item">
							<a href="#">Support</a>
						</li>
						<li class="nav-item">
							<a href="#">Terms</a>
						</li>
						<li class="nav-item">
							<a href="#">Feedback</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-copyright text-center border-top">
		<span>
			Copyright© 2021
		</span>
	</div>
</footer>